<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/header :: head('Home')">
</head>
<body>
	<div th:replace="fragments/header :: complete-header('Home')"></div>

	<main class="container mt-5">
		<div class="jumbotron">
			<h3 class="mt-3">
				Welcome, <span th:text="${user.fullName}">User</span>!
			</h3>


			<p class="lead">Manage your employees efficiently with our
				comprehensive HR management system.</p>
			<hr class="my-4">
			<p>Access employee data, manage profiles, and streamline your HR
				processes.</p>

			<a class="btn btn-primary btn-lg" th:href="@{/client/employees}"
				role="button">View Employees</a> <a class="btn btn-primary btn-lg"
				th:href="@{/client/leaves}" role="button">Leaves Management</a> <a
				class="btn btn-primary btn-lg" th:href="@{/client/leaves-availed}"
				role="button">Leaves Availed</a>
		</div>
		<div id="leavesAvailedSection" style="display: none;">
			<h2>View Leave Details</h2>
			<label for="employeeIdInput">Enter Employee ID:</label> <input
				type="number" id="employeeIdInput">
			<button onclick="fetchLeaveDetails()">Fetch Details</button>
			<br>
			<br>
			<!-- Container for the Tabulator table -->
			<div id="leaveDetailsTable"></div>
		</div>
	</main>

	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
